@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ticket";
}
<div style="width:100%">
	<!--- bus-tp ---->
<div class="bus-tp">
	<div class="container">
		<input type="search" id="emailInput" name="searchByEmail" placeholder="Search ticket by email">
	</div>
</div>
<!--- /bus-tp ---->
<!--- bus-btm ---->
<div class="bus-btm">
	<div class="container">
		<ul>
			<li class="trav">Travels</li>
			<li class="dept">Depart</li>
			<li class="arriv">Arrive</li>
			<li class="seat">Seats</li>
			<li class="fare">Fare</li>
		</ul>
	</div>
</div>
<!--- /bus-btm ---->
<!--- bus-midd ---->
<div class="bus-midd wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
	<div class="container">
	<!--- ul-first  ---->
	
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hà Nội</h4>
					<p>Nghệ An</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>4 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 900</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>   

				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first  ---->
		<!--- ul-first-1 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hà Nội</h4>
					<p>Đà Nẵng</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>3 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 750</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>    
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-1 ---->
		<!--- ul-first-2 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hà Nội</h4>
					<p>Hồ Chí Minh</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>8 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 1050</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>   
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-2 ----> 


		<!--- ul-first-3 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hà Nội</h4>
					<p>Lạng Sơn</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>6 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 1000</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>   
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-3 ---->
		<!--- ul-first-4 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hà Nội</h4>
					<p>Cần Thơ</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>5 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 850</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>  
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-4 ---->
		<!--- ul-first-5 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hải Phòng</h4>
					<p>Hà Nội</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>3seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 950</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>   
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-5 ---->
		<!--- ul-first-6---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hồ Chí Minh</h4>
					<p>Đà Nẵng</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>7 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 750</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>    
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-6 ---->
		<!--- ul-first-7 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Hải Phòng</h4>
					<p>Thái Bình</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>5 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 650</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>    
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-7 ---->
		<!--- ul-first-8 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Ninh Bình</h4>
					<p>Hà Nội</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>9 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 800</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>    
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-8 ---->
		<!--- ul-first-9 ---->
		<ul class="first">
			<li class="trav">
				<div class="bus-ic">
					<img src="~/images/railway.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt">
					<h4>Cao Bằng</h4>
					<p>Khánh Hòa</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="dept">
				<div class="bus-ic1">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="bus-txt1">
					<h4><a href="#">08:10 PM</a></h4>
					<p>Duration</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="arriv">
				<div class="bus-txt2">
					<h4><a href="#">6:10 AM</a></h4>
					<p>10:00 Hrs</p>
				</div>
			</li>
			<li class="seat">
				<div class="bus-ic3">
					<img src="~/images/seat.png" class="img-responsive" alt="">
				</div>
				<div class="bus-txt3">
					<h4>6 seats</h4>
					<p>Window 4</p>
				</div>
				<div class="clearfix"></div>
			</li>
			<li class="fare">
				<div class="bus-txt4">
					<h5>USD 900</h4>
					<a href="#img1" class="view">View Seats</a>
						<div class="lightbox" id="img1">
						  <div class="box">
							<a class="close" href="#">X</a>
								<div class="set-left">
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-2.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set-1">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="set">
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-4.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-5.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-3.png" class="img-responsive" alt=""></a></li>
										<li><a href="#"><img src="~/images/seat-1.png" class="img-responsive" alt=""></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="set-right">
									<ul class="ste1">
										<li><img src="~/images/seat-2.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Available Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Reserved for Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-4.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Selected Seat</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-5.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Gents</p></li>
										<div class="clearfix"></div>
									</ul>
									<ul class="ste1">
										<li><img src="~/images/seat-3.png" class="img-responsive" alt=""> </li>
										<li><p class="aval">Booked by Ladies</p></li>
										<div class="clearfix"></div>
									</ul>
								</div>
								<div class="clearfix"></div>
						  </div>
						</div>   
				</div>
			</li>
				<div class="clearfix"></div>
		</ul>
		<!--- /ul-first-9 ---->
	</div>
</div>
</div>

