@model SBTCv3.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Vertical Layouts</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Ticket</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div class="mb-3">
                                <label class="form-label">Name Ticket</label>
                                <input type="text" class="form-control" id="name" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Start</label>
                                <input type="text" class="form-control" id="startLocation" />
                                <span asp-validation-for="startLocation" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">End</label>
                                <input type="text" class="form-control" id="endLocation" />
                                <span asp-validation-for="endLocation" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input type="text" class="form-control" id="price" />
                                <span asp-validation-for="price" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Quantity</label>
                                <input type="text" class="form-control" id="quantity" />
                                <span asp-validation-for="quantity" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Time</label>
                                <input type="datetime-local" class="form-control" id="time" />
                                <span asp-validation-for="Time" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by
                <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
            </div>
            <div>
                <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">
                    More
                    Themes
                </a>

                <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                   target="_blank"
                   class="footer-link me-4">Documentation</a>

                <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                   target="_blank"
                   class="footer-link me-4">Support</a>
            </div>
        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

