@model SBTCv3.Models.Cart

@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Horizontal Layouts</h4>

        <!-- Basic Layout & Basic with Icons -->
        <div class="row">
            <!-- Basic Layout -->
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Cart</h5>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Admin" asp-action="CartCreate" method="post">
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">Email</label>
                                <input asp-for="Email" type="email" class="form-control" id="mail" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="IdentityCard" class="form-label">Identity Card</label>
                                <input asp-for="IdentityCard" type="text" class="form-control" id="uid" />
                                <span asp-validation-for="IdentityCard" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="idTicket" class="form-label">Id Ticket</label>
                                <input asp-for="idTicket" type="text" class="form-control" id="idTicket" />
                                <span asp-validation-for="idTicket" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Quantity" class="form-label">Quantity</label>
                                <input asp-for="Quantity" type="text" class="form-control" id="quantity" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="createTime" class="form-label">Create Time</label>
                                <input asp-for="createTime" type="datetime-local" class="form-control" id="createTime" />
                                <span asp-validation-for="createTime" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="exprired" class="form-label">Expired</label>
                                <input asp-for="exprired" type="datetime-local" class="form-control" id="expiredTime" />
                                <span asp-validation-for="exprired" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <!-- Footer -->
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>
