@model SBTCv3.Models.Cart

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CartEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityCard" class="control-label"></label>
                <input asp-for="IdentityCard" class="form-control" />
                <span asp-validation-for="IdentityCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTicket" class="control-label"></label>
                <input asp-for="idTicket" class="form-control" />
                <span asp-validation-for="idTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createTime" class="control-label"></label>
                <input asp-for="createTime" class="form-control" />
                <span asp-validation-for="createTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exprired" class="control-label"></label>
                <input asp-for="exprired" class="form-control" />
                <span asp-validation-for="exprired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CartAsync">Back to List</a>
</div>

